.container {
  background-color:#595959;
  width: 200px;
  height: 30px;
  padding-top: 10px;
  border-radius: 10px;
}

.content {
 text-align: center;
 color: #FFFFFF;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
